## Static files
*
!/**/
!.github/workflows/*.yml

!.gitignore
!LICENSE
!README.md
/**/Debug
/**/Release

## Add specific files
!LessPaper.Shared.Queueing/LessPaper.Shared.Queueing.csproj
!LessPaper.Shared.Queueing.UnitTest/LessPaper.Shared.Queueing.UnitTest.csproj
!LessPaper.Shared.Queueing.IntegrationTest/LessPaper.Shared.Queueing.IntegrationTest.csproj
!LessPaper.Shared.Queueing.sln

!/**/*.cs

